<h1>Estimado: <%= @user.name %> <%= @user.last_name %></h1>
  <p>
    Se ha realizado el llamado de la atraccion <%# @user.atraccion.nombre_atc %>
  </p>
<p>Acercate a la atraccion correspondiente</p>