<h1>Estimado: <%= @user.name %> <%= @user.last_name %></h1>
  <p>
    Se ha realizado el llamado de la atraccion <%# @user.atraccion.nombre_atc %>
  </p>
  <p>
    Acercate a la atraccion correspondiente.
  </p>
<p>Se comunicaran con usted a traves de su numero de telefono: <%= @user.phone %>, si no llega al momento dar inicio a la atraccion. </p>
<p> Que tenga un buen día en el parque. </p>
