<div class="container ">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-3">
                <div class="card-body">

                    <h1 style="text-align:center;">Editar Atraccion</h1>

                    <%= render 'form', atraccion: @atraccion %>

                    
                    <%= link_to 'Regresar', atraccions_path , class: 'btn btn-primary btn-block' %>


        </div>
                </div>
            </div>
        </div>
    </div> 