

               <div class="container-login100" >
                <div class="wrap-login100 ">
               
                            <h2 style="text-align:center;">Nueva Atraccion</h2>

                            <%= render 'form', atraccion: @atraccion %>
                            <div class="container-login100-form-btn" >
                                <div class="wrap-login100-form-btn">
                                    <%= link_to 'Regresar', atraccions_path , class: 'btn btn-primary btn-block login100-form-btn'%>
                                </div>
                            </div>
                    </div>
                </div>
       