// Place all the styles related to the Atraccions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.map_wrapper {
    width: 100%;  
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.csmap {
    
    overflow: hidden;
    padding: 23% 45%;
}

.map_wrapper2 {
    height: 400px;
}
#map2 {
    width: 100%;
    height: 100%;
}

@media (max-width:980px) {
   
    .csmap {
        width: 90%;
        height: 500px;
    }
    
  }